@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, lightblue, lightyellow);
}
#table-c {
  font-size: 15px;
  border-collapse: collapse;
  width: auto;
  margin: auto;
}
nav{
  margin-bottom: 20px;
}
#table-c td,
#table-c thead,
#table-c th {
  border: 1px solid rgb(141, 141, 141);
  padding: 8px;
}

#table-c th {
  background-color: rgb(0, 0, 0);
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: justify;
  font-weight: 600;
}

#table-c tr {
  padding-top: 12px;
  background-color: rgb(255, 255, 255);
}

#table-c tr:hover {
  background-color: lightgrey;
}
td {
  margin-top: 20px;
}
#form-div {
  flex: 0.5;
}
#add-form {
  width: 50%;
  margin: auto;
}
#delete-form {
  width: 50%;
  margin: auto;
}

#lend-form{
  width: 50%;
  margin: auto;
}

#update-form {
  width: 50%;
  margin: auto;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
#random {
  display: flex;
  flex-direction: row;
}

/* CSS */
.button-32 {
  background-color: red;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: rgb(236, 1, 1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

#logout {
  width: 20%;
}

#logout-div {
  margin: 50px 0 50px 0;
}

input[type="text"],
input[type="number"],
input[type="search"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 2px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="search"]:focus {
  background-color: #ddd;
  outline: none;
}

#table_div {
  flex: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#title {
  font-size: 50px;
}

#viewall-div {
  margin: auto;
}

#viewall {
  width: 50%;
}
