<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
      <a class="navbar-brand" href="#"><h2><span style="color: red;">RE</span> Developer</a></h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/book">View Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lend">Lend Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data">Add Books</a>
          </li>
        </ul>
      </div>
    </nav>
    <center><h1 id="main-h1"><span style="color: red;">Sadma</span> Library</h1></center>
    <div id="main-div">
      <div id="left-side">
      <img src="static/assets/signup-library-icon-removebg-preview (2).png" alt="Hero-Image"> 
      </div>
      <div id="right-side">
        <center>
      <h1>Welcome to the Library</h1>
      <p>Login/Signup Below.</p>
      <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
      <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" method="post" action="/signup" id="signup-form">
          <div class="container">
            <h1 style="color: black;">Sign Up</h1>
            <p style="color: black;">Please fill in this form to create an account.</p>
            <hr>
            <label for="name"><b>Name</b></label>
            <input type="text" id="name" placeholder="Enter Name"name="name" required>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" id="email" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="password" required>
            <label>
              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
            <div id="error-message"></div>
          </div>
            <div class="clearfix">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </form>
      </div>
      <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Login</button>
      <div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" method="post" action="/login">
          <div class="container">
            <h1 style="color: black;">Login</h1>
            <p style="color: black;">Please enter your email and password to log in.</p>
            <hr>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" id="email" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
            <label>
              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
            <div class="clearfix">
              <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Login</button>
            </div>
          </div>
        </form>
      </div>
    </center>
      </div>
    </div>
    </body>
  </html>
  